<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users List</title>
    <link rel="stylesheet" type="text/css"  href="/css/style.css">

<body>
<h1>Welcome To Employee Manager</h1>
<div class="container">
    <h3 ><u>Users List</u></h3>
    <ul>
        <% users.forEach(function (user) { %>
        <li><%=user.userName%></li>
        <%


        })%>
    </ul>
</div>
</body>

</head>
</html>
