.container{
    margin: auto;
    border: 1px solid;
    border-color: cadetblue;
    font-family: Arial;
    font-size: 15px;

}
.alert {
    padding: 15px;
    background-color: green;
    color: white;
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: blink;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
}